<div class="article my-3">
  <a href="{{ .Permalink | relURL }}">
    <h2 class="article-title h4">{{ .Title }}</h2>
  </a>
  <p class="article-meta text-muted mb-2">
    {{ if .Params.Date }}
      {{ .Date.Format "02/01/2006" }}
    {{ end }}
  </p>
  {{ .Summary }}
</div>
