// @import url(https://fonts.googleapis.com/css?family=Crete+Round:400,700);
// $headings-font-family:Crete Round;

$primary:#25649e;
$secondary:#249e9c;
$success:#37bd74;
$danger:#e8286b;
$info:#7ebcfa;
$warning:#ff9b37;
$light:#eef0f2;
$dark:#293a59;

$body-bg:#efefef;

$spacer: 1.3rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 800px,
);

$enable-responsive-font-sizes: true;

@import "./bootstrap-4.3.1/scss/bootstrap";

figure.figure {
  img {
    max-width: 100%;
    height: auto;
  }
}

.highlight {
  margin: 0.5rem;
  pre {
    padding: 1.5rem 1rem;
  }
}
