<footer class="footer mt-auto py-5 bg-white">
  <div class="container text-center">
    <p class="text-dark">
    {{ if .Site.Copyright }}
      {{ .Site.Copyright | safeHTML }}
    {{ else }}
      &copy; {{ now.Format "2006"}} {{ .Site.Title }}
    {{ end }}
  </p>
  </div>
</footer>
