<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <a class="navbar-brand" href="{{ .Site.BaseURL | relURL }}">{{ .Site.Title }}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- Main Menu Links -->
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ $isActive := $currentPage.IsMenuCurrent "main" . }}
        <li class="nav-item {{ if $isActive }}active{{ end }}">
          <a class="nav-link" href="{{ .URL | relURL }}">
            {{ .Name }}
            {{ if $isActive }}<span class="sr-only">(current)</span>{{ end }}
          </a>
        </li>
      {{end}}

    </ul>
  </div>
</nav>
