<div class="page-content">
  <p class="article-meta text-muted mb-2">
    {{ if .Params.Date }}
      {{ .Date.Format "02/01/2006" }}
    {{ end }}
  </p>
  <h1 class="title mb-4">
    {{ .Title }}
  </h1>

  {{ .Content }}
</div>
