{{ define "main" }}

  {{- partial "page-content.html" . -}}

  {{ if .Site.Params.mainSections }}
  <div class="page-sections mt-5 p-1 p-md-3 border">
    <h2 class="h4 card-title border-bottom">Bitácora de Clases</h2>
    {{ $paginator := .Paginate (first 3 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)) }}
    {{ range $paginator.Pages }}
      {{ .Render "li" }}
    {{ end }}
  </div>
  {{ end }}

{{ end }}
